:root {
    --color-black: #1a1a1a;

    --color-white: #ffffff;

    --color-grey: #2e2e2e;
    --color-grey1: #525252;
    --color-grey2: #dcdcdc;
    --color-grey3: #00000080;
    --color-grey4: #e8e8e8;
    --color-grey5: #e3e3e3;

    --color-orange: #ffaa25;
    --color-orange-dark: #e3961a;

    --color-red: #ff3636;
    --color-red-dark: #e62e2e;
}
