/* Desktop */
:root {
    --font-family: 'Graphik LC Web', sans-serif;

    // Desktop/Regular/Text 2
    --font-drt2-size: 16px;
    --font-drt2-height: 20px;
    --font-drt2-weight: 400;
}

/* Mobile */
:root {
    --font-mrt2-size: 16px;
    --font-mrt2-height: 20px;
    --font-mrt2-weight: 400;
}
